*{
    text-decoration:none;
    margin:auto;
    list-style:none;
    padding:0;
}
header{
    height:138px;
    background:background: #dddddd;
    background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 26%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 26%,#ffffff 100%);
    background: linear-gradient(to bottom,  #dddddd 0%,#ffffff 26%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 );
;
}
.container{
    width:940px;
}
.logo{
    padding:30px 0px;
}

ul{

}
ul li{
    float:left;
    padding:10px;
    font-weight:bold;
    font-size:20px;
}
ul li a {
    color:#666666;
}
img{
    max-width:100%;
}
.featured-items h2{
    color:#11719e;
    margin:0;
}
.featured-items h6{
    color:#949494;
    margin:0;
}
.featured-items img {
    border:10px solid #f3f3f3;
    border-radius:10px;
}
.featurehead{
    padding:5px;
}
.jcarousel-wrapper{
    width:100%;
}
.icon h2{
     border-bottom: .5px dotted;

 }
.icon h3{
    border-bottom: .5px dotted;
}
.icon input{

    width: 293px;
    height: 32px;
    border-radius: 5px;
}
.icon button{
    width: 162px;
    height: 30px;
}
.contacts h2{
    border-bottom: .5px dotted;

}
.inputone input{
    width:298px ;
    heigh:34px;
}
.inputtwo input{
    width:298px ;
    heigh:34px;
}
.inputthree input{
    width:296px ;
    heigh:136 px;
}
.contacts button{
    width: 162px;
    height: 30px;
}
.news h2{
    border-bottom: .5px dotted;

}
.footer{
    background: #333333;
    height:85px;
    margin:0;
    padding: 0;

}
.menu {
    margin-top: 75px;
}

.box p {
    float: right;
    width: 210px;
    font-size: 11px;
    height: 59px;
    margin-left: 5px;
    margin-top: 0;

}
.semifooter{
    background: #4c4c4c;
    heigth: 100 px;
    margin: 0;
    padding: 0;
}
.container{
    padding: 0;

}
.footer p {
    color: white;
    font-size: 14px;
    margin-left: 16px;
    margin-top: 15px;
}
.footer ul {
    display: block;
}
.footer ul li a {
    color: white;
    font-size:14px;
    font-style: italic;

}
.footerlist{


}
.footer ul li{
    padding: 0px;
    margin-left: 14px;
    list-style: ;
}