*{
    padding:0;
    margin:0;
    text-decoration:none;
}
.container{
    max-width:1010px;
}
ul{
    list-style:none;
}
.body2{
    background:#eeeeee;
}
header{
    padding:20px 0;
    border-bottom:1px solid black;
}
.headerleft{
    text-align:right;
}
.buttonF{
    display:inline-block;
}
.buttonS{
    display:inline-block;
}
.buttonF button{
    background:#91ba00;
    border:none;
    padding:2px 5px;
    color:white;

}
.buttonS button{
    background:#009be0;
    border:none;
    padding:2px 5px;
    color:white;

}
.search{
    background:#000 none repeat scroll 0 0;
}
.search input{
    width:110px;
    font-size:8px;
}
.search button{
    border:none;
    background:none;
    color:white;

}
.search p{
    color:white;
    display:inline-block;

}
img{
    width:100%;

}
.img1 .pad1{
    padding:5px;
    background:white;
}
.part1{
    display:block;
}
.p1 button{
    font-size: 10px;
    width:130px;
}
.p1 .b1{
    display:inline-block;
    margin-left: 22px;
}
.p1 .b2{
    float:right;

}
.p1 .b1 button{

    background:#eab31a;
    color:white;


}
.p1 .b2 button{

    background:#05a3e2;
    color:white;

}
.p2 button{
    width:130px;
}
.p2 .b1{
    display:inline-block;
    margin-left: 22px;
}
.p2 .b2{
    float:right;

}
.p2 .b1 button{

    background:#79c7f8;
    color:white;

}
.p2 .b2 button{

    background:#a3c614;
    color:white;

}
.p3 button{
    width:130px;
}
.p3 .b1{
    display:inline-block;
    margin-left: 22px;
}
.p3 .b2{
    float:right;

}
.p3 .b1 button{

    background:#72d662;
    color:white;

}
.p3 .b2 button{

    background:#d44f46;
    color:white;

}
.part2{
    padding:10px 0 ;
    text-align:center;
}
.part2 i {
    font-size:30px;
    padding:5px;
    border:1px solid ;
    text-align:center;
}
.part3 ul li{
    padding:3px;
    border-bottom:1px solid black;
}
.part3 {
    background: #eeeeee none repeat scroll 0 0;
    padding: 24px 0;
}
.part3 button{
    border:none;
    background:black;
    color:white;
}
.part3 .link{
    padding:15px 0 ;
}

.part3 .link a {
    font-size:10px;

}
.part3 .pad2 {
    background: #ffffff none repeat scroll 0 0;
    padding: 17px;
}
.part4{
    background:white;
    padding:5px;
}
.part4 .pic{
    padding:3px;
}
.part4 p {
    font-size:10px;
}
.part4 .link a{
    font-size:10px;

}

.part4 .abs{
    position:absolute;


}
.part4 .abs img {
    margin-left: 77px;
    margin-top: 6px;

}

