*{
    margin: 0; padding: 0; outline: 0; font-size: 14px; line-height: 22px;
    
}
.templet{
    width: 960px;margin: 0 auto;
}
.clear{
    overflow: hidden;
}
.headersection{ 
    height: 85px;
    background: #534B44;
    color: white; 
}
.headersection h2{
    font-size : 40px ; 
    text-align: center ;
    padding-top : 30px ;
    
 }
.nevsection{  
  
  background: #D6D6D6;
  }
.nevsection ul{
    margin: 0; padding: 0; list-style: none;
}
.nevsection ul li {
    display: block;
    float: left;
    background: yellow;
    padding: 5px 71px;
    text-decoration: none;
    font-size: 20px;
    
}
.nevsection ul li a{
    text-decoration: none;
    color: blue;
    background-color: #acfefd;
@include filter-gradient(#acfefd, #ffffff, vertical);
@include background-image(linear-gradient(top,  #acfefd 0%,#ffffff 100%));

    
}
.nevsection ul li a:hover{
    background: black;
    color: white;
    padding: 2px 3px;
}

.contant{
    height: 462px;
}
.maincontant{
    height: 462px;
   display: inline-block;
    width: 650px;
    background: #949494;
    float: left;
}
.maincontant h2{
    width: 210px;
    display: inline-block;
    font-size: 35px;
    color: white;
    text-align: center;
   margin-left: 206px;
    border-bottom: 3px solid black ;
    background: maroon;
}
.maincontant p{
    margin-top : 10px; 
    margin-left: 10px;
    
}
.sidecontant{
   display: inline-block;
    height: 462px;
    width: 305px;
    background:  #7C7C7C;
  float :left;
 margin-left: .5px;

 
}
.sidecontant h2{
    font-size: 30px;
   
    color: white;
   
    background: maroon;
    border-bottom: 3px solid black;
  
    padding: 10px;
    
}
.sidecontant p {
    font: bold;
  
}
.footer {
 height: 85px;
 background: #534B44 ;
}
.footer p {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    color: white;
    
    
}
.content{}