*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.image {
    position: relative;
width: 100%;

}
h1 {
    position: absolute;
    width: 100%;
    color: yellow;
    top: 11px;
    font-size: 60px;
    text-align: center;
}
img {
    width: 100%;
}
.register{
    position: absolute;
    width: 400px;
    height: 400px;

    text-align: center;
    top: 141px;
    left: 143px;
}
.register h2 {
    text-align: center;
    padding-top: 16px;
    color: tan;
    font-size: 35px;
}
.namebox{
    text-align: center;
    padding: 0px 0 25px;
}
.namebox input {
    font-style: italic;
    font-weight:bold;
    width: 164px;
    height: 28px;
    text-align: center;
}
.NationalId{
    text-align: center;
    padding: 0px 0 25px;
}
.NationalId input {
    font-style: italic;
    font-weight:bold;
    width: 338px;
    height: 28px;
    text-align: center;
}
.passwordbox input{
    font-style: italic;
    font-weight:bold;
    height:338px;
    height: 28px;
    text-align:center ;
}
.passwordbox{
    text-align: center;
    padding: 20px 0 0px;
}

.regissubmit{
    text-align: center;
    padding: 25px 0 25px;
    color: #3e8f3e;
}
.regissubmit button{
    font-style: italic;
    font-weight:bold;
    width:338px;
    height: 28px;
   background-color: #122b40;
    color: white;
    font-size: 20px;
}

.signin{
    position: absolute;
    top: 140px;
    right: 116px;
}
.signin input {
    width: 250px;
    height: 30px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.signin h2{
    color: white;
    font-size: 40px;
}


.nav{

    text-align:right;
}
.nav ul{
    list-style:none;
    font-size:0;
}
.nav ul ul{
    position:absolute;
    visibility:hidden;
    opacity:0;
    transition:all .2s;
    top:50px;
    background:#eee;
    text-align:left;
}
.nav > ul > li:after{
    content:"";
    background:#242727;
    height:15px;
    width:1px;
    display:block;
    position:absolute;
    top:9px;
    right:0;
}
.nav > ul > li:last-child:after{
    display:none;

}
.nav ul ul ul{
    top:50px;
    left:100%;
}
.nav ul li{
    display:inline-block;
    position:relative;
}
.nav ul ul li{
    display:block;
    width:100%;
}
.nav ul a{
    padding:5px 15px;
    display:inline-block;
    font-size:16px;
    white-space:nowrap;
}
.nav ul > li:last-child > a{
    padding-right:0;
}
.nav ul li:hover > a{

}
.nav ul ul a{
    display:block;
}
.nav ul li:hover > ul{
    visibility:visible;
    opacity:1;
    top:100%;
}
.nav ul ul li:hover > ul{
    top:0;
}
