*{
    list-style:none;
    text-decoration: none;
}

.firstportion{
    background-color: #f6f9f9;
    heigth: 150px;

}

.logo{
    margin: 25px 0  25px;

}

.banner{
    position: relative;

}

.banner img {
width: 100%;

}
.bannertext1{
    position: absolute;
    top: 158px;
    left: 530px;
}
.bannertext1 p {
    font-family: bold;
    font-size: 90px;
    color: white;

    border-bottom: solid  2px  #15a4fa;
   border-bottom-hight : 100px;
}
.bannertext2 {

    position: absolute;
    left: 457px;
    top: 314px;
}

.bannertext2 marquee {
    font-size: 18px;
    color: white;

}


.bannertext3 {
    position: absolute;
    left: 609px;
    top: 396px;
}

.bannertext3 input{
    background: transparent;
    text-align: center;
    font-size: 18px;
    border: solid 1px #15a4fa ;
    color: white;
    border-radius: 3px;
    padding: 13px 25px 11px 25px;
}

.contant1{
    background-color: #f6f9f9;

}
.contant1 .container{
    max-width: 950px;
}

.contant1 .heading {
    text-align: center;
    padding: 20px;
}
.contant1 .text {
    text-align: center;
}

.contant2{
    padding-top: 50px;
}

.contant2 img {
    text-align: center;
}

.contant2 .container{
    max-width: 900px;
}

.contantimg{
    text-align: center;
}
.contanttext{
    text-align: center;
}

.contant3{
    padding: 10px;
    background-color: #f6f9f9;
}
.contant3 .container{
    max-width: 900px;

}
.contant3 img {
 width: 280px;
    margin-bottom: 21px;
}
.contant3text{
    text-align: center;
 padding: 45px;
}
.contant3text h2{
    font-family: bold;
}
.contant4 img{
    height: 500px;
    width: 100%;
    position: relative;
}
.contant4text{

    position: absolute;
    top: 1950px;
    left: 500px;
}
.contant4h2{
position: absolute;
    top: 1850px;
    left: 500px;
    text-align: center;
    color: white;
}
.contant4 p {
    position: absolute;
    top: 1920px;
    left: 560px;
    text-align: center;
    color: white;

}
.contant4text input {
    width: 279px;
    height: 38px;
    margin: 5px;
    background: transparent;
    border: solid 1px #999999;
}
.massagebox{
    position: absolute;
    top: 2050px;
    left: 500px;
}
.massagebox input{

    width: 279px;
    height: 70px;
    margin: 5px;
    background: transparent;
    border: solid 1px #999999;
}
.contant4button{
    position: absolute;
    top: 2150px;
    left: 690px;
}
.contant4button input {
    background: transparent;
    height: 30px;
    color: white;
    border: solid 1px #15a4fa ;
    padding:9px 34px 27px 26px;
}
.contant4checkbox{

    position: absolute;
    top: 2160px;
    left: 500px;
    color:#9ea3ac;
}
.contant5{
    padding: 20px;
    background-color: rgba(204, 204, 204, 0.52);
}
.contant5 .container {
    max-width: 900px;
}
.contant5 li {
    float: right;
    font-size: 30px;
    margin: 6px;

}
.paragraph {
    margin: 37px 0px;
}
.paragraph p {
    font-family: bold;
    font-size: 18px;
}

