* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
nav{

    text-align:right;
}
nav ul{
    list-style:none;
    font-size:0;
}
nav ul ul{
    position:absolute;
    visibility:hidden;
    opacity:0;
    transition:all .2s;
    top:50px;
    background:#eee;
    text-align:left;
}
nav > ul > li:after{
    content:"";
    background:#242727;
    height:15px;
    width:1px;
    display:block;
    position:absolute;
    top:9px;
    right:0;
}
nav > ul > li:last-child:after{
    display:none;

}
nav ul ul ul{
    top:50px;
    left:100%;
}
nav ul li{
    display:inline-block;
    position:relative;
}
nav ul ul li{
    display:block;
    width:100%;
}
nav ul a{
    padding:5px 15px;
    display:inline-block;
    font-size:16px;
    white-space:nowrap;
}
nav ul > li:last-child > a{
    padding-right:0;
}
nav ul li:hover > a{

}
nav ul ul a{
    display:block;
}
nav ul li:hover > ul{
    visibility:visible;
    opacity:1;
    top:100%;
}
nav ul ul li:hover > ul{
    top:0;
}
header{
    background:#acfefd;
    background:-moz-linear-gradient(top, #acfefd 0%, #fff 100%);
    background:-webkit-linear-gradient(top, #acfefd 0%, #fff 100%);
    background:linear-gradient(to bottom, #acfefd 0%, #fff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#acfefd', endColorstr='#ffffff', GradientType=0);

    padding:36px;
}

.cta{
    text-align:right;
}
.cta i {
    font-size:20px;
    color:black;
}
.search{
}
.search input {
   border:none;
    border-radius:8px;
    box-shadow:0 0 10px  #000 inset ;
    padding:5px;

}
.search button{
    position: absolute;
    right:0;
    background:none;
    padding:5px 20px;
    border:none;
}
img{
    max-width:100%;
}
.imgbackg{
    background:#fff;
    background:-moz-radial-gradient(center, ellipse cover, #fff 0%, #289c7c 99%);
    background:-webkit-radial-gradient(center, ellipse cover, #fff 0%, #289c7c 99%);
    background:radial-gradient(ellipse at center, #fff 0%, #289c7c 99%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#289c7c', GradientType=1);
    text-align:center;
}
.fiteam{
    padding:40px 0;
}
.backg{
    background:#f2f2f2;
}

.backg button{
    border:none;
    background:#0054a6;
    color:white;
    font-size:14px;

}
.sechead{
    background:#26b3ca;
    text-align:center;
    color:white;

}
.sechead .container{
    max-width:900px;
}