header .container{
    background:#e6e0d2;
}
.headh2 h2{
    font-size:20px;
    color:#35190e;
    font-style:italic;
}
.cta ul{
    list-style:none;
    text-align:right;
    margin-top:18px;
}
.cta ul li{
    display:inline-block;
    font-size:20px;
    padding:0 18px;

}
.cta ul li a{
    background:#f1eee7;
    padding:6px 13px 9px 16px;
    text-align:center;
    border-radius:8px;
    color:#a66a52;
    font-style:italic;
}
.covimg{

    text-align:center;
}
.p2 .container{
    background:#e6e0d2;
}
.p3{

}
.p3 .container{
    background:#e6e0d2;
}
.p3 .container h1{

    text-align:center;

    font-size:20px;
    font-weight:bold;
    font-style:italic;
    color:#4d3227;

}