body{

}
/* style for headertop*/
header{
    background:#acfefd;
    background:-moz-linear-gradient(top, #acfefd 0%, #fff 100%);
    background:-webkit-linear-gradient(top, #acfefd 0%, #fff 100%);
    background:linear-gradient(to bottom, #acfefd 0%, #fff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#acfefd', endColorstr='#ffffff', GradientType=0);

    padding:36px;
}
.logo{

}
.cta{
    text-align:right;

}
.search{
    position:relative;
}
.search input{
    border-radius:10px;
    border:none;
    padding:5px;
    box-shadow:0px 0px 10px #000 inset;
}
.search button{
    background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border:medium none;
    padding:5px 9px;
    position:absolute;
    right:0;
}
/* style for headertop*/
/* style for nevigation*/
*{
    padding:0;
    margin:0;
    text-decoration:none;
}
nav{

    text-align:right;
}
nav ul{
    list-style:none;
    font-size:0;
}
nav ul ul{
    position:absolute;
    visibility:hidden;
    opacity:0;
    transition:all .2s;
    top:50px;
    background:#eee;
    text-align:left;
}
nav > ul > li:after{
    content:"";
    background:#242727;
    height:15px;
    width:1px;
    display:block;
    position:absolute;
    top:9px;
    right:0;
}
nav > ul > li:last-child:after{
    display:none;

}
nav ul ul ul{
    top:50px;
    left:100%;
}
nav ul li{
    display:inline-block;
    position:relative;
}
nav ul ul li{
    display:block;
    width:100%;
}
nav ul a{
    padding:5px 15px;
    display:inline-block;
    font-size:16px;
    white-space:nowrap;
}
nav ul > li:last-child > a{
    padding-right:0;
}
nav ul li:hover > a{

}
nav ul ul a{
    display:block;
}
nav ul li:hover > ul{
    visibility:visible;
    opacity:1;
    top:100%;
}
nav ul ul li:hover > ul{
    top:0;
}
/* style for nevigation*/
/* style for banner*/
img{
    max-width:100%;
}
/* style for banner*/
/* style for heading*/
.heading{
    background:#26b3ca;
    color:#faeded;
    text-align:center;
    padding:41px 0;
}
.heading h2{
    font-size:48px;
}
.heading input{
    background:#0054a6;
    padding:5px 30px;
    border:none;
    font-size:24px;
}
.heading p {
    line-height:2;
}
.heading .container{
    max-width:900px;
}

/* style for heading*/
.heading2{
    color:black;
    text-align:center;

}
.heading2 h2{
    font-size:48px;
    font-weight:bold;
}
.heading2 p{
    line-height:2;
}
.heading2 ul{
    list-style:none;
}
.heading3 {
    background-image:url("../images/Rectangle-7.jpg");
    color:white;
}
.heading3 h2{
    padding:40px;
}
.heading3 input{
    border:none;
    border-radius:5px;
    padding:15px 80px;
    box-shadow:0px 0px 10px #000 inset;
    display:inline-block;
}
.heading3 button{
    padding: 8px  30px;
    font-size:25px;;
    font-weight:bold;
    color:white;
    background:#016060;
    border:none;
    border-radius:5px;
    box-shadow: 0px 0px 10px  #000 inset;

}
.inpu{
    padding :25px;

}
.ulbox{
    padding:60px 0;
}

.ulbox li:before{
    content: "\f054";
    font-family: 'FontAwesome';
    padding-right:10px;
    position: relative;
    bottom: 2px;
}
/*style for heading2*/
a{
    font-size:20px;
    color:black;
}
.box{
    padding:0 22px 30px;

}
.box h3{
    font-size:30px;
    font-weight:bold;
}
.box input{
    background:#0054a6;
    padding:5px 10px;
    font-weight:bold;
    color:white;
    border:none;
}
.imgback{
    background:#fff;
    background:-moz-radial-gradient(center, ellipse cover, #fff 0%, #289c7c 99%);
    background:-webkit-radial-gradient(center, ellipse cover, #fff 0%, #289c7c 99%);
    background:radial-gradient(ellipse at center, #fff 0%, #289c7c 99%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#289c7c', GradientType=1);

    text-align:center;

}
/*style for block*/
.featured-items{
    padding:40px 0;

}
.featured-items a {
    color:white;
}
.block{
    background:#f2f2f2;
}
.footer{
    color:white;
    background:#345a7f;
}
.copyright{
    text-align:center;
    font-size:30px;
    color:black;
    padding:50px 0 20px;
}
/*
@font-face{
    font-family:'FontAwesome';
    src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal
}*/
