*{
    margin:0px; padding: 0; outline: 0;
    
    
}
  
.top{
    height: 130px;
    background-color: #FF80C0;
    
}
.top h1{
    font-size: 40px;
    display: block;
    padding: 35px 85px; 
    
   color: white;
    
    
}
.menu{
    height: 50px;
    background-color: #80FFFF;
}
.menu ul {
   
    
    
}
.menu ul li {
     display: block;
    float: left;
    padding: 7px 80px;
    font-size: 30px;
    
}
.menu ul  li a {
  color: black;
}
.contant{
    height: 400px;
    background-color: green;
}

.maincontant1{
    position: relative;
    display: block;
    float: left;
    width: 1000px;
    height: 400px;
    background-color: silver;
    
}
.maincontant1 h2{
    display: block;
    margin-top: 3px;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 40px;
    
    
}
.mainchild1{
    display: block;
    float: left;
    height:270px;
    width: 300px;
    background-color: #408080;
    margin-right: 5px;
    margin-top: 40px;
    margin-left: 40px;
}

.mainchild1 h3{
    text-align: center;
    font-size: 40px;
}

.mainchild1 ul {
    margin-top: 40px;
    margin-left: 25px;
}
.mainchild2{
      display: block;
    float: left;
      height:270px;
    width: 300px;
    background-color: #408080;
    margin-right: 5px; 
    margin-top: 40px;
    
}
.mainchild2 h3{
    text-align: center;
    font-size: 37px;
}
.mainchild2 ul {
    margin-top: 40px;
    margin-left: 25px;
}
.mainchild3{
      display: block;
     float: left;
      height:270px;
    width: 300px;
    background-color: #408080;
    margin-top: 40px;
    

}
.mainchild3 h3{
    text-align: center;
    font-size: 40px;
}
.mainchild3 ul {
    margin-top: 40px;
    margin-left: 25px;
}
.sidecontant1{
    
    display: block;
    float: left;
    height: 400px;
    width: 349px;
    background-color: green;
}

.sidecontant1 h3{
    display: block;
    margin-top: 3px;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 40px;
    
}

.sidecontant1 ul {
    margin-left: 25px;
    margin-top: 40px;
}

    

.sidecontant1 ul li {
    font-size: 21px;
    
}


.footer{
    
    height: 77px;
    background-color: #808040;
}
.contact{
    margin-left: 50px;
    display: block;
    float: left;
}
.most{
    margin-left: 200px;
    display: block;
    float: left;
}
.right{
    margin-left: 600px;
    margin-top: 50px;
    display: block;
    float: left;
    
}
.right p{
    
    font-size: 20px;
}