*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
ul {
    list-style: none;
}
ul ul {
    display: inline-block;
    position: absolute;    
}

ul li {
    position: relative;
    display: block;
    
}